 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1">
                    <img class="img-responsive" src="img/profile.png" alt="profile-pic" width="200"/>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <p><h3><strong>"항상 꿈꿔왔던 게임 개발자가 되고 싶은 장현우입니다!"</strong></h3></p>
                    <hr><p>안녕하세요.나이가 있는 만큼 그동안 여러 가지 일들을 했었습니다. 항상 제가 하는 일들이 사람들에게 좀 더 나은 삶을 주었으면 하였고, 일반적인 일들을 통해서는 그 한계가 명확하다고 느낄 수 있었습니다. 그러던 도중 프로그래밍이라는 것을 접하게 되었고, 프로그래밍을 통해 사람들에게 이로운 서비스를 개발하고 우리의 인생이라는 한정된 시간 안에서 사람들이 시간을 좀 더 가치 있게 쓸 수 있도록 해주고 싶었습니다. 그런 생각이 든 이후, 작년 말 하던 일들을 모두 정리하고 올 초부터 하루 온 종일 시간을 투자하여 개발 공부를 하고 있습니다. 늦은 만큼 남들보다 더 열심히 개발을 배워가고 있습니다.</p>
                </div>

            </div>
        </div>
    </section>
