 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="wow fadeInDown" data-wow-delay="0.2s" data-wow-offset="400">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>자기소개</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <img class="img-responsive center-block" src="img/profile.png" alt="profile-pic" width="200"/>

                <div class="col-lg-offset-3 col-lg-6">
                <div class="about-intro" >
                    <h3><strong>"항상 꿈꿔왔던 게임 개발자가 되고 싶은 장현우입니다!"</strong></h3>
                </div>
                    <hr><p>고민중....................................................</p>
                </div>
            </div>
            </div>
        </div>

    </section>
