 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="wow fadeInDown" data-wow-delay="0.2s" data-wow-offset="500" data-wow-duration="1s">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <img class="img-responsive center-block" src="img/profile.png" alt="profile-pic" width="200"/>

                <div class="col-lg-offset-3 col-lg-6">
                <div class="about-intro" >
                    <strong>"항상 꿈꿔왔던 개발자가 되고 싶은 장현우입니다!"</strong>
                </div>
                    <hr><p>어릴 때 친구들과 같이 여러 가지 게임을 했었습니다. 게임에 흥미를 잃기도 하고 다른 게임에 관심도 가지기를 반복하면서
                    많은 사람이 오랫동안 흥미를 잃지 않는 즐거운 게임을 만들고 싶은 생각이 들었습니다. 이렇게 프로그래밍 관심을 들이기 시작하면서
                    제가 생각해본 게임을 구현도 하고 싶게 되었고 시리즈 게임같이 하나의 세계관을 형성하며 많은 사람이 열광하고 즐겁게 플레이하는것에
                    감명받아 이러한 시리즈에 참여하는 것을 목표로 이 분야에 발을 들이게 되었습니다.</p>
                </div>
            </div>
            </div>
        </div>
    </section>
