<!-- About Section -->
<section class="skill" id="career">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Career</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <p><h3><strong>(수정중)선린인터넷고등학교 졸업 -> 조은 컴퓨터 학원(유니티를 활용한 게임 프로그래밍 개발자)  -> 이노베이션 아카데미</strong></h3></p>


            <div class="container">
                <div class="row">

                </div>
            </div>




        </div>


        </div>
</section>
