<!-- About Section -->
<section class="skill" id="skill">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skill</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <p><h3><strong>"항상 스스로 공부를 해왔으며 저는 이것이 가능합니다."</strong></h3></p>
            <div class="container">
                <div class="skill-icon"><img class="img-responsive" src="../img/SkillIcon/c++.png"/><div class="progress">
                    <div class="progress-bar color-1" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        <span>60%</span>
                    </div>
                </div></div>
                <div class="skill-icon"><img class="img-responsive" src="../img/SkillIcon/c.png"/><div class="progress">
                    <div class="progress-bar color-1" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        <span>60%</span>
                    </div>
                </div></div>
                <div class="skill-icon"><img class="img-responsive" src="../img/SkillIcon/c%23.png"/><div class="progress">
                    <div class="progress-bar color-1" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        <span>60%</span>
                    </div>
                </div></div>
                <div class="skill-icon"><img class="img-responsive" src="../img/SkillIcon/unity.png"/><div class="progress">
                    <div class="progress-bar color-1" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        <span>60%</span>
                    </div>
                </div></div>
                <div class="skill-icon"><img class="img-responsive" src="../img/SkillIcon/html.png"/><div class="progress">
                    <div class="progress-bar color-1" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        <span>60%</span>
                    </div>
                </div></div>
                <div class="skill-icon"><img class="img-responsive" src="../img/SkillIcon/css.png" /><div class="progress">
                    <div class="progress-bar color-1" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        <span>60%</span>
                    </div>
                </div></div>
            </div>


        </div>
    </div>
</section>
